
/* pour faciliter les paddings... */
*, *:before, *:after {/* * c'est TOUS les éléments de la page... */
    box-sizing: border-box; /* règle les ennuis de padding */
    outline:none; /* pas de cadre de sélection */
}

@font-face {
    font-family: 'MS Reference Sans Serif';
    src: url('../fonts/MSReferenceSansSerif.woff2') format('woff2'),
        url('../fonts/MSReferenceSansSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* css reset minimal */

a { color:darkblue; text-decoration: none; } /* les liens */

ul { padding:0; } /* listes à puce */
li { padding:0; list-style: none; }


/* votre style */

/* 
pour une mise en page fluide :
1. un conteneur global fluide (width en % +  en px par exemple)
2. des images fluides càd width:100%;
*/
main {
	width:100%; 
	max-width:900px;
	margin: 0 auto; /* pour centrer le bloc principal horizontalement */
}

/* pour des éléments de menu horizontaux, centrés */
/*nav { text-align:center; }
nav li { display:inline-block; } /* écoulement de gauche à droite */

/* pour rogner une image dans un format fixe */
/*.truc img { object-fit:cover; width:200px; height:150px; }*/

/* pour contenir une image dans un format fixe, sans la couper, avec des marges */
/*.truc img { object-fit:contain; width:200px; height:150px; background:black; }*/

html, body {
    height: 100%;

}
h3, h4{
	margin:0;
	font-weight: normal;
}

body{
	font-family: 'Ms Reference Sans Serif';
	background-color: teal;
	color: white;
	font-size: 0.8rem;
	cursor: default;
	overflow: hidden;
}


.start-icon{
	width:1.2rem;
	height:auto;
	margin-right: 0.2rem;
}

.start-text{
	font-weight: bold;
	
}
.start-bar{
	background-color:silver;
	position: fixed;
	bottom:0;
	left:0;
	color:black;
	padding:0.2rem;
	border-top:0.05rem solid white;
	border-left:0.05rem solid white;
	border-right: 0.05rem solid black;
	border-bottom: 0.05rem solid black;
	width:100vw;
	display: flex;
	align-items: center;
}
.start{
	border-top:0.05rem solid white;
	border-left:0.05rem solid white;
	border-right: 0.05rem solid black;
	border-bottom: 0.05rem solid black;
	padding:0.2rem;
	display: flex;
	align-items: center;
	margin-top:0rem;
	margin-right:0.5rem;
}

.invisible{
	display:none;
}
.visible{

}
.start-bar span{
	margin-right:0.5rem;
	margin-left: 0.5rem;
	border-top:0.05rem solid black;
	border-left:0.05rem solid black;
	border-right: 0.05rem solid white;
	border-bottom: 0.05rem solid white;
	padding:0.2rem;

}
.credit{
	position: fixed;
	right:0;
	margin-right:0.5rem;
	border-top:0.05rem solid black;
	border-left:0.05rem solid black;
	border-right: 0.05rem solid white;
	border-bottom: 0.05rem solid white;
	padding:0.2rem;
	display: flex;
	align-items: center;
}
.credit h4{
	margin-left:0.2rem;
	color:black;
}


.profil, .graphisme, .projets, .contact, .logiciels, .jeux, .films,.paint,  .projetpro{
	text-align: center;
	width:4rem;
	margin-left:1rem;
	margin-right: 1rem;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
}
.projetpro{
	cursor: not-allowed;
}

.left-aligned{
    position: fixed;
    left: 10px; 
    margin:0;
    
}
.right-aligned{
    position: fixed;
    right:10px;
    margin:0;
    z-index:0;
    
}
.right-aligned2{
    position: fixed;
    right:110px;
    margin:0;
    z-index:0;
    
}

.fenetre-graphisme,.fenetre-projets{
	
	width:1250px;	
	height:700px;
	background-color: silver;
	align-content: center;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;        
	top: 50%;                  
	left: 50%;                 
	transform: translate(-50%, -50%);
    overflow-y: none;
    z-index: 1;
}
.fenetre-logiciels{
	width:557px;	
	height:461px;
	background-color: silver;
	align-content: center;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;        
	top: 50%;                  
	left: 50%;                 
	transform: translate(-50%, -50%);
    overflow-y: none;
    z-index: 1;
}
.fenetre-paint{
	width:1250px;	
	height:700px;
	background-color: silver;
	align-content: center;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;        
	top: 50%;                  
	left: 50%;                 
	transform: translate(-50%, -50%);
    overflow-y: none;
    z-index: 1;
}
.fondblanc-contenu-paint-gris{
	background-color: silver;
	position:absolute;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	top:0;
	width: 1229px;
	height: 650px;
    margin-top: 2.3rem;
	margin-left: 0.5rem;
	display: flex;
	z-index: -5;
}
.ruban-bleu-paint{
	margin-left:0.1rem;
	margin-top:0.1rem;
	width:1242px;
	height:30px;
	background: linear-gradient(to right, #282E69, #2A4B9B);
	position: absolute;
	top:0%;
	 .croix-paint, .info-paint{padding:0.1rem;
		width:1.3rem;
		height: auto;
		background-color: silver;
		border-top:0.11rem solid white;
		border-left:0.11rem solid white;
		border-right: 0.11rem solid black;
		border-bottom: 0.11rem solid black;
		margin-top:-1.3rem;
		position: fixed;
		cursor:default;}
	.croix-paint{margin-left:1213px;}
	.info-paint{margin-left:1190px;}
	.croix-paint:hover, .info-paint:hover{border-top:0.11rem solid black;
	border-left:0.11rem solid black;
	border-right: 0.11rem solid white;
	border-bottom: 0.11rem solid white; }
.titrepaint{
	margin-top:0.4rem;

}
}
.petite-icone{
	width:auto;
	height: 1.4rem;
	margin-top:0.2rem;

}
.acote{
	display:flex;
}
.barre{
	background-color: silver;
	width: 1231.2px;
	border-top: 0.18rem solid white;
	border-left: 0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	margin-left: -2px;
	height: 33px;
	margin-top: -1px;
}
.listepaint{
	color:black;
	display:flex;
	margin-top:6px;
}
.listepaint li{
	margin-right:20px;
	margin-left:10px;
}
.listepaint li::first-letter{
	text-decoration: underline;
}
.listepaint li:hover{
	cursor: pointer;
	text-decoration:underline;
}
.paintoutils{
  background-color: silver;
  width: 134.2px;
  border-top: 0.18rem solid white;
  border-left: 0.18rem solid white;
  border-right: 0.18rem solid black;
  border-bottom: 0.18rem solid black;
  margin-left: -2px;
  height: 551px;
  margin-top: 27px;
  position: absolute;
}
.paintcolor{
  background-color: silver;
  width: 1228.2px;
  border-top: 0.18rem solid white;
  border-left: 0.18rem solid white;
  border-right: 0.18rem solid black;
  border-bottom: 0.18rem solid black;
  margin-left: -2px;
  height: 78px;
  margin-top: 570px;
  position: absolute;
}
.grisfondpaint{
  background-color: darkgrey;
  width: 1094px;
  border-top: 0.18rem solid black;
  border-left: 0.18rem solid black;
  border-right: 0.18rem solid white;
  border-bottom: 0.18rem solid white;
  margin-left: 131px;
  height: 538px;
  margin-top: 32px;
  position: absolute;
}
#paintzone{
  width: 1067.2px;
  margin-left: 139px;
  background-color: white;
  height: 508px;
  margin-top: 41px;
  position: absolute;
}
#paintzone canvas {
    display: block;     /* Evite l'effet inline qui pourrait réduire la taille du canvas */
    width: 100%;        /* Garantir que le canvas prend toute la largeur du parent */
    height: 100%;       /* Garantir que le canvas prend toute la hauteur du parent */
}
.petitcarre{
  width: 10px;
  height: 10px;
  background-color: darkblue;
  border-top: solid 1px white;
  border-left: solid 1px white;
  position: absolute;
  right: 8px;
  top: 550px;
}
.petitcarre2{
	width: 10px;
  height: 10px;
  background-color: darkblue;
  border-top: solid 1px white;
  border-left: solid 1px white;
  position: absolute;
  right: 553px;
  top: 550px;
}
.petitcarre3{
	width: 10px;
  height: 10px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  background-color: darkblue;
  position: absolute;
  right: 8px;
  top: 273px;
}
.petitcarre4{
	width: 8px;
  height: 10px;
  background-color: white;
  border-top: solid 1px darkblue;
  border-left: solid 1px darkblue;
  position: absolute;
  right: 1084px;
  top: 273px;
}
.petitcarre5{
	width: 10px;
  height: 6px;
  background-color: white;
  border-top: solid 1px darkblue;
  border-left: solid 1px darkblue;
  position: absolute;
  right: 8px;
  top: 34px;
}
.petitcarre6{
	width: 10px;
  height: 8px;
  background-color: white;
  border-top: solid 1px darkblue;
  border-left: solid 1px darkblue;
  position: absolute;
  right: 553px;
  top: 32px;
}
.petitcarre7{
	width: 6px;
  height: 6px;
  background-color: white;
  border-top: solid 1px darkblue;
  border-left: solid 1px darkblue;
  position: absolute;
  right: 1085px;
  top: 35px;
}
.petitcarre8{
	width: 8px;
  height: 10px;
  background-color: white;
  border-top: solid 1px darkblue;
  border-left: solid 1px darkblue;
  position: absolute;
  right: 1085px;
  top: 550px;
}

/*blocs de couleurs paint*/
.noir{
	width: 17px;
  height: 18px;
  background-color: black;
  position: absolute;
  top: 579px;
  right: 1096px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
   z-index:1;
}
.gris{
	width: 17px;
  height: 18px;
	background-color: grey;
	position:absolute;
	top: 579px;
  right: 1073px;
  z-index:1;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.magenta{
	width: 17px;
  height: 18px;
	background-color: magenta;
	position:absolute;
	top: 579px;z-index:1;
  right: 1050px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.jaunefonce{
	width: 17px;
  height: 18px;z-index:1;
	background-color: greenyellow;
	position:absolute;
	top: 579px;
  right: 1027px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.vertpastel{
	width: 17px;
  height: 18px;;
	background-color: lightseagreen;
	position:absolute;
	top: 579px;
  right: 1004px;z-index:1;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleupastel{
	width: 17px;
  height: 18px;z-index:1;
	background-color: lightskyblue;
	position:absolute;
	top: 579px;
  right: 981px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleufonce{
width: 17px;
  height: 18px;
	background-color: darkblue;
	position:absolute;
	top:579px;z-index:1;
	right:958px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.rosepastel{
	width: 17px;
  height: 18px;
	background-color: lightpink;
	position:absolute;
	top:579px;z-index:1;
	right:935px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.jaunemoche{
	width: 17px;
  height: 18px;z-index:1;
	background-color: #8c8231;
	position:absolute;
	top:579px;
	right:912px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.grisfonce{
width: 17px;
  height: 18px;z-index:1;
	background-color: darkgrey;
	position:absolute;
	top:579px;
	right:889px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}

.bleu2{
	width: 17px;
  height: 18px;z-index:1;
	background-color: mediumblue;
	position:absolute;
	top:579px;
	right:866px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleu3{
	width: 17px;z-index:1;
  height: 18px;
	background-color: cadetblue;
	position:absolute;
	top:579px;
	right:843px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}

.marron{
	width: 17px;
  height: 18px;z-index:1;
	background-color: maroon;
	position:absolute;
	top:579px;
	right:820px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleu1{
	width: 17px;
  height: 18px;z-index:1;
	background-color: royalblue;
	position:absolute;
	top:579px;
	right:797px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
/*deuxiemeligne*/
.blanc{
	width: 17px;z-index:1;
  height: 18px;
	background-color: white;
	position:absolute;
	top:602px;
	right:1096px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.grisclair{
	width: 17px;z-index:1;
  height: 18px;
	background-color: lightgrey;
	position:absolute;
	top:602px;
	right:1073px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.rouge{
	width: 17px;
  height: 18px;z-index:1;
	background-color: red;
	position:absolute;
	top:602px;
	right:1050px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.jaune{
	width: 17px;
  height: 18px;z-index:1;
	background-color: yellow;
	position:absolute;
	top:602px;
	right:1027px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.vertclair{
	width: 17px;
  height: 18px;
	background-color: green;
	position:absolute;
	top:602px;z-index:1;
	right:1004px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleuclair{
	width: 17px;
  height: 18px;
	background-color: #5f03ff;
	position:absolute;
	top:602px;
	right:981px;z-index:1;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleumarine{
	width: 17px;
  height: 18px;
	background-color: darkslateblue;
	position:absolute;
	top:602px;
	right:958px;z-index:1;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.rose{
	width: 17px;
  height: 18px;
	background-color: #ff03b7;
	position:absolute;
	top:602px;z-index:1;
	right:935px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.jauneclair{
	width: 17px;
  height: 18px;
	background-color: #b39f09;
	position:absolute;
	top:602px;z-index:1;
	right:912px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.vertclair2{
	width: 17px;
  height: 18px;
	background-color: #13ff03;
	position:absolute;
	top:602px;z-index:1;
	right:889px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.turquoise{
	width: 17px;
  height: 18px;
	background-color: turquoise;
	position:absolute;z-index:1;
	top:602px;
	right:866px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.bleu4{
	width: 17px;
  height: 18px;
	background-color: darkturquoise	;
	position:absolute;
	top:602px;z-index:1;
	right:843px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.saumon{
	width: 17px;z-index:1;
  height: 18px;
	background-color: salmon;
	position:absolute;
	top:602px;
	right:820px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.orange{
	width: 17px;
  height: 18px;
	background-color: orange;
	position:absolute;
	top:602px;
	z-index:1;
	right:797px;
	border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
}
.petitebar{
	border-top: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  width: 341px;
  height: 2px;
  top: 635px;
  position: absolute;
  right: 782px;
}
.carrevide{
	border-top: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  width: 332px;
  height: 53px;
  top: 574px;
  position: absolute;
  right: 787px;
  z-index:0;
}

/*gros carré*/
.groscarre{
	width:40px ;
  height: 41px;
  background-color: white;
  top: 579px;
  position: absolute;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  right: 1125px;
}
/*current*/
.currentfill{
	width: 17px;
  height: 18px;
	background-color: white;
	position:absolute;
	top: 585px;
  right: 1144px;
	border-top: solid 1px grey;
    border-left: solid 1px grey;
    border-bottom: solid 2.5px grey;
    border-right: solid 2.5px grey;
    z-index:2;
}

.currentborder{
width: 17px;
  height: 18px;
	background-color: white;
	position:absolute;
	top: 595px;
  right: 1131px;
	border-top: solid 1px grey;
    border-left: solid 1px grey;
    border-bottom: solid 2.5px grey;
    border-right: solid 2.5px grey;
    z-index:1;

}
/*outils paint*/
.outilicon{
	width: 50px;
  height: 50px;
  margin-left: 8px;
  margin-top: 5px;
}
.freeselection{
	width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 29px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;	
}
.geometricselection{
	width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 29px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;	
}
.gomme{
	width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 93.5px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;
}
.potpeinture{
	width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 93.5px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;
}
.pipette{
	width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 158px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;
}
.loupe{
	width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 158px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;
}
.crayon{width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 222.5px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.pinceau{width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 222.5px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.spray{width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 287px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.painttexte{width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 287px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.lignedroite{width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 351.5px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.lignelibre{width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 351.5px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.formerectangle{width: 63.5px;
  height: 63.5px;
  background-color: silver;
  position: absolute;
  top: 416px;
  right: 1161px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.formepolygone{width: 63.5px;
  height: 63.5px;
  background-color: #737373;
  position: absolute;
  top: 416px;
  right: 1096.5px;
  border-top: solid 0.13rem white;
  border-left: solid 0.13rem white;
  border-bottom: solid 0.13rem black;
  border-right: solid 0.13rem black;
  z-index: 1;}
.formeronde{
	width: 63.5px;
	height: 63.5px;
	background-color: silver;
	position: absolute;
	top: 480.5px;
	right: 1161px;
	border-top: solid 0.13rem white;
	border-left: solid 0.13rem white;
	border-bottom: solid 0.13rem black;
	border-right: solid 0.13rem black;
	z-index: 1;
}
.formecercle{
	width: 63.5px;
  	height: 63.5px;
  	background-color: silver;
  	position: absolute;
  	top: 480.5px;
  	right: 1096.5px;
  	border-top: solid 0.13rem white;
  	border-left: solid 0.13rem white;
  	border-bottom: solid 0.13rem black;
  	border-right: solid 0.13rem black;
  	z-index: 1;}
.outilcurrent{
	background-color: white;
	border-top: solid 0.13rem black;
  	border-left: solid 0.13rem black;
  	border-bottom: solid 0.13rem white;
  	border-right: solid 0.13rem white;
}

.fenetre-paint-fichier{
	position:absolute;
	top: 25px;
  right: 957px;
  width: 269px;
  height: 71px;
	background-color: silver;
	border-top: 0.18rem solid white;
	border-left: 0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	z-index: 9;
}
.newfile{
	position: absolute;
  top: 36px;
  right: 1081px;
  z-index: 10;
  width: 131px;
  color:black;
}
.save{
	position: absolute;
  top: 66px;
  right: 1118px;
  z-index: 10;
  color:black;
}
.save:hover, .newfile:hover{
	text-decoration: underline;
	cursor: pointer;

}
.save::first-letter, .newfile::first-letter{
	text-decoration: underline;

}


/**/

.fenetre-profil{
	width:1250px;	
	height:602px;
	background-color: silver;
	align-content: center;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;        
	top: 50%;                  
	left: 50%;
	z-index: 1;                 
	transform: translate(-50%, -50%);
    overflow-y: none;
}
.fenetre-contact{
	width:600px;
	z-index: 1;	
	height:300px;
	background-color: silver;
	align-content: center;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;        
	top: 50%;                  
	left: 50%;                 
	transform: translate(-50%, -50%);
	overflow-y: scroll; /* Ajoute une barre de défilement horizontal si nécessaire */
    overflow-x: hidden;
}

.ruban-bleu{
	margin-left:0.1rem;
	margin-top:0.1rem;
	width:1242px;
	height:30px;
	background: linear-gradient(to right, #282E69, #2A4B9B);
	position: absolute;
	top:0%;
	.croix-profil, .info-profil, .croix-projets,.info-projets , .croix-graphisme,.info-graphisme , .croix-contact,.info-contact{
		padding:0.1rem;
		width:1.3rem;
		height: auto;
		background-color: silver;
		border-top:0.11rem solid white;
		border-left:0.11rem solid white;
		border-right: 0.11rem solid black;
		border-bottom: 0.11rem solid black;
		margin-top:0.2rem;
		position: fixed;
		cursor:default;
	}
	.info-profil, .info-profil,.info-projets ,.info-graphisme ,.info-contact{margin-left:1190px;}
	.croix-profil , .croix-profil,.croix-projets,.croix-graphisme,.croix-contact{margin-left:1213px;}
}

.croix-profil:hover,.info-profil:hover, .croix-projets:hover,.info-projets:hover , .croix-graphisme:hover,.info-graphisme:hover , .croix-contact:hover,.info-contact:hover ,.croix-logiciels:hover,.info-logiciels:hover{
	border-top:0.11rem solid black;
	border-left:0.11rem solid black;
	border-right: 0.11rem solid white;
	border-bottom: 0.11rem solid white;
}
.ruban-bleu h4{
	position: absolute;
	margin-top:0.45rem;
    margin-left:0.8rem;
}


.ruban-bleu-error{
	margin-left:0.1rem;
	margin-top:0.1rem;
	width:392px;
	height:25px;
	background: linear-gradient(to right, #282E69, #2A4B9B);
	position: absolute;
		
}
.ruban-bleu-logiciels{
	margin-left: 0.1rem;
	margin-top: 0.2rem;
	width: 549px;
	height: 29px;
	background: linear-gradient(to right, #282E69, #2A4B9B);
	position: absolute;
	top: -3px;
	display: flex;
	align-items: center; 
		.croix-logiciels,.info-logiciels, .croix-paint, .info-paint{
			padding:0.1rem;
			width:1.3rem;
			height: auto;
			background-color: silver;
			border-top:0.11rem solid white;
			border-left:0.11rem solid white;
			border-right: 0.11rem solid black;
			border-bottom: 0.11rem solid black;
			margin-top: 0.1px;
			position: fixed;
			cursor:default;
		}
		.croix-logiciels:hover,.info-paint:hover,.croix-paint:hover,.info-logiciels:hover{border-top:0.11rem solid black;
	border-left:0.11rem solid black;
	border-right: 0.11rem solid white;
	border-bottom: 0.11rem solid white;}

		.croix-logiciels{margin-left:517px;}
		.info-logiciels{margin-left:490px;}
}

.fatal-error{
	width: 400px; 
	height: 120px; 
	background-color: silver; 
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	z-index:50;
	transform: translate(-50%, -50%);

}
.croix-error{
	padding:0.1rem;
	width:1.3rem;
	height: auto;
	background-color: silver;
	border-top:0.11rem solid white;
	border-left:0.11rem solid white;
	border-right: 0.11rem solid black;
	border-bottom: 0.11rem solid black;
	margin-top:0.15rem;
	position: fixed;
	margin-left:367px;
	cursor:default;
}
.croix-error-clicked{
	border-top:0.11rem solid white;
	border-left:0.11rem solid white;
	border-right: 0.11rem solid black;
	border-bottom: 0.11rem solid black;
	background-color: darkgrey;
}
.img-error{
	width:3rem; 
	height: auto;
}
.text-error{
	color:black;
}

.winerror{
	padding:0.1rem;
	width:1.5rem;
	height: auto;
	margin-top:0.30rem;
	margin-left:0.30rem;
	position: fixed;
}
.titlerror{
	margin-top:0.30rem;
	margin-left:2rem;
	position: fixed;
}
.wait{
	cursor:wait;
}
.croix-clicked{
	padding:0.1rem;
	width:1.3rem;
	height: auto;
	border-top:0.11rem solid white;
	border-left:0.11rem solid white;
	border-right: 0.11rem solid black;
	border-bottom: 0.11rem solid black;
	margin-top:0.2rem;
	position: fixed;
	cursor:default;
	margin-left:1213px;
}
.contenu-profil h1 {
    transition: color 0.5s ease, background-position 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100%; /* Ajuste la taille pour l'animation */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
    color: black; /* Couleur par défaut */
    width: auto;
}
.contenu-profil{
	width: 1181.2px;
	height: fit-content;
	border-top:0.18rem solid black;
	border-left:0.18rem solid black;
	border-right: 0.18rem solid white;
	border-bottom: 0.18rem solid white;
	position: absolute;
	top:0;
	margin-top:4rem;
	margin-right:2rem;
	margin-left:2rem;
	padding:1rem 2rem 2rem 2rem;
	background-color: white;
	color:black;
	z-index: 5;
	overflow-y: scroll;
}
.fontgris-profil{
	width: 1231.2px;
	height: 494px;
	background-color: silver;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;
	top:0;
	margin-top:2.5rem;
	margin-left:0.5rem;
}
.contenu-contact{
	width: 530px;
	height: fit-content;
	border-top:0.18rem solid black;
	border-left:0.18rem solid black;
	border-right: 0.18rem solid white;
	border-bottom: 0.18rem solid white;
	position: absolute;
	top:0;
	margin-top:4rem;
	margin-right:2rem;
	margin-left:2rem;
	padding:1rem 2rem 2rem 2rem;
	background-color: white;
	color:black;
	z-index: 3;
}
.fontgris-contact{
	width: 580px;
	height: 225px;
	background-color: silver;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	position: absolute;
	top:0;
	margin-top:2.5rem;
	margin-left:0.5rem;
}
.ruban-bleu-contact{
	margin-left:0.1rem;
	margin-top:0.1rem;
	width:593px;
	height:30px;
	background: linear-gradient(to right, #282E69, #2A4B9B);
	position: absolute;
	top:0%;
	.croix-contact,.info-contact{
		padding:0.1rem;
		width:1.3rem;
		height: auto;
		background-color: silver;
		border-top:0.11rem solid white;
		border-left:0.11rem solid white;
		border-right: 0.11rem solid black;
		border-bottom: 0.11rem solid black;
		position: fixed;
		top:0;
		margin-top:0.35rem;
		cursor:default;}
	.info-contact{margin-left:540px;}
	.croix-contact{margin-left:565px;}
	.croix-contact:hover,.info-contact:hover{
	border-top:0.11rem solid black;
	border-left:0.11rem solid black;
	border-right: 0.11rem solid white;
	border-bottom: 0.11rem solid white;}

}
.h4contact{
	margin-top:0.35rem;
	margin-left:0.35rem;
}
.contenu-profil h1{
	width: fit-content
}
.contenu-profil h1:hover{
    color: transparent; /* Rendre le texte transparent */
}
.contenu-contact h1:hover{
    color: transparent; /* Rendre le texte transparent */
}
.contenu-contact h1{
	transition: color 0.5s ease, background-position 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 25%; /* Ajuste la taille pour l'animation */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
    color: black; /* Couleur par défaut */
    width: auto;
}
.contenu-profil p{
	font-size: 1rem;
}


.fondblanc2{
	position: fixed;
	top:0;
	display:flex;
	margin-top: 3rem;
	margin-right: 1rem;
	margin-left: 1.15rem;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	background-color: silver;
	width: 440px;
	height:75px;
	z-index:9;
}

.fondblanc-contenu-cours-gris{
	background-color: silver;
	position:absolute;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	top:0;
	width:1200px;
	height:550px;
	margin-top:8.5rem;
	margin-left:1.15rem;
	display: flex;
	z-index:1;
}
.pourhandle{
	z-index: 10;
}

.fondblanc-contenu-cours h1{
	transition: color 0.5s ease, background-position 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100%; /* Ajuste la taille pour l'animation */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
    color: black; /* Couleur par défaut */
    width: auto;
}
.fondblanc-contenu-cours h1:hover{
    color: transparent; /* Rendre le texte transparent */
}
.fondblanc-contenu-cours p{
	font-size: 1rem;
	color:black;
}

.fondblanc-contenu-cours {
    padding: 1rem 2rem 2rem 2rem; /* haut droite bas gauche */
    background-color: white;
    border-top: 0.18rem solid black;
    border-left: 0.18rem solid black;
    border-right: 0.18rem solid white;
    border-bottom: 0.18rem solid white;
    z-index: 1;
    top: 0;
    width: 1150px;
    height: 500px;
    margin-top: 10rem;
    position: absolute;
    margin-left: 2.5rem;
    display: flex;
    overflow-y: scroll;
    width: 1150px;
}
.fondblanc-contenu-cours-une img{
	width: 550px;
}


.fondblanc2-perso{
	position: fixed;
	top:0;
	display:flex;
	margin-top: 3rem;
	margin-right: 1rem;
	margin-left: 1.15rem;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	background-color: silver;
	width: 440px;
	height:75px;
	z-index:9;

}
.fondblanc-contenu-perso{
	background-color: white;
	border-top:0.18rem solid black;
	border-left:0.18rem solid black;
	border-right: 0.18rem solid white;
	border-bottom: 0.18rem solid white;
	z-index:1;
	top:0;
	width:1150px;
	height:500;
	margin-top:10rem;
	position:absolute;
	margin-left:2.5rem;
	display: flex;
	overflow-y: scroll;
	
}

.fondblanc-contenu-perso-gris{
	background-color: silver;
	position:absolute;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	z-index:1;
	top:0;
	width:1200px;
	height:550px;
	margin-top:8.5rem;
	margin-left:1.15rem;
	display: flex;
	z-index:1;
}


.fondblanc-contenu-perso h1{
	transition: color 0.5s ease, background-position 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100%; /* Ajuste la taille pour l'animation */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
    color: black; /* Couleur par défaut */
    width: auto;
}
.fondblanc-contenu-perso h1:hover{
    color: transparent; /* Rendre le texte transparent */
}
.fondblanc-contenu-perso p{
	font-size: 1rem;
	color:black;
}
.fondblanc-contenu-perso{
	padding:1rem 2rem 2rem 2rem; /*haut droite bas gauche*//
	z-index:1;
}


.fondblanc-contenu-perso{
	background-color: white;
	border-top:0.18rem solid black;
	border-left:0.18rem solid black;
	border-right: 0.18rem solid white;
	border-bottom: 0.18rem solid white;
	z-index:1;
	top:0;
	width:1150px;
	height:500px;
	margin-top:10rem;
	position:absolute;
	margin-left:2.5rem;
	display: flex;
	z-index:1;
}

.fondblanc-contenu-perso-gris{
	background-color: silver;
	position:absolute;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	z-index:1;
	top:0;
	width:1200px;
	height:550px;
	margin-top:8.5rem;
	margin-left:1.15rem;
	display: flex;
	z-index:1;
}
.start-bar{
	z-index:0;
}
.startclicked{
	border-top:0.05rem solid black;
	border-left:0.05rem solid black;
	border-right: 0.05rem solid white;
	border-bottom: 0.05rem solid white;
	background-color:darkgrey;
}
.start-menu{
	background-color:silver;
	width:350px;
	z-index:1;
	position:fixed;
	height:525px;
	border-top:0.1rem solid white;
	border-left:0.1rem solid white;
	border-right: 0.1rem solid black;
	border-bottom: 0.1rem solid black;
	left:0;
	bottom:28px;
}
.start-menu-bluebar{
	width:40px;
	position:fixed;
	height:515px;
	left:5px;
	bottom:33px;
	background: linear-gradient(to right, #282E69, #2A4B9B);
}
.fenetre24{
	transform: rotate(-90deg);
	font-size: 1.80rem;
  	position: fixed;
  	left: -52px;
 	bottom: 98px;
}
.fenetre24 span{
	font-weight: bold;
}
.menu{
	bottom:30px;
	position:fixed;
	color:black;
	left:65px;
 	padding-top:50px;
 	
 }
.middle{
	
 	font-size:1rem;
}
.extremite{
	padding-top:0px;
	padding-bottom:15px;
	font-size:1rem;

}
.triangle{
	left:320px;
	position :fixed;
	font-size:0.8rem;
}
.underline{
	text-decoration: underline;

}
.separation{
	position : fixed;
	height:2px;
	left:50px;
	width:285px;
	background-color:silver;
	border-top:0.05rem solid black;
	border-left:0.05rem solid black;
	border-right: 0.05rem solid white;
	border-bottom: 0.05rem solid white;
}
.menu li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.menu li{
	display: flex;
    align-items: center; /* Aligne verticalement */
    padding: 5px;
}
.menu-icon{
	width:40px;
	height:auto;
	margin-right: 25px;

}
.icon{
	width: 60px;
	height: auto;
}
.titre-travail{
	margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 1.5rem;
	font-size:3.5rem;
	text-align: center;
	color:black;
	border-top: 2px solid black; /* Épaisseur et couleur du trait */
	transition: color 0.5s ease, background-position 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100%; /* Ajuste la taille pour l'animation */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
}
.titre-travail:hover{
	color:transparent;
}

.sous-titre-travail{
	margin:0;
	font-size:2rem;
	text-align: center;
	color:black;
	padding-bottom:1rem;

}
.espacepourletitre {
	padding-bottom:2.5rem;
}
.entredeuxprojets{
	padding-top:4rem;
}

a{
	text-decoration:none;
	color: inherit;
}

.contenu img{
	width:25rem;
	height: auto;
}
.ps3img{
	width: 25rem;
	height: auto;
}

.categories-cours-li-clicked {
    color: transparent !important;
    border-top: 0.18rem solid black !important;
    border-left: 0.18rem solid black !important;
    border-right: 0.18rem solid white !important;
    border-bottom: 0.18rem solid white !important;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    z-index: 10;

}


.categories-cours li {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    border-top: 0.18rem solid white;
    border-left: 0.18rem solid white;
    border-right: 0.18rem solid black;
    border-bottom: 0.18rem solid black;
    z-index: 10;
}

.categories-cours {
    transition: color 0.5s ease, background-size 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200%; /* Taille ajustée pour un effet de défilement */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
    color: black; /* Couleur par défaut */
    width: auto;
    position: fixed;
    top: 0;
    margin-top: 3.8rem;
    margin-right: 1rem;
    margin-left: 1.8rem;
    display: flex;
    padding: 0.25rem 0;
    z-index: 10;
}

.categories-cours:hover {
    background-size: 300%; /* Effet d'animation au survol */
}
.fondblanc-contenu-cours-gris{
	background-color: silver;
	position:absolute;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	z-index:1;
	top:0;
	width:1200px;
	height:550px;
	margin-top:8.5rem;
	margin-left:1.15rem;
	display: flex;
	z-index:1;

}
.pourhandle{
	z-index: 10;
}

/**/
.categories-perso-li-clicked {
    color: transparent !important;
    border-top: 0.18rem solid black !important;
    border-left: 0.18rem solid black !important;
    border-right: 0.18rem solid white !important;
    border-bottom: 0.18rem solid white !important;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    z-index: 10;

}


.categories-perso li {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    border-top: 0.18rem solid white;
    border-left: 0.18rem solid white;
    border-right: 0.18rem solid black;
    border-bottom: 0.18rem solid black;
    z-index: 10;
}

.categories-perso {
    transition: color 0.5s ease, background-size 0.5s ease;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200%; /* Taille ajustée pour un effet de défilement */
    -webkit-background-clip: text; /* Pour WebKit */
    background-clip: text; /* Pour Firefox */
    color: black; /* Couleur par défaut */
    width: auto;
    position: fixed;
    top: 0;
    margin-top: 3.8rem;
    margin-right: 1rem;
    margin-left: 1.8rem;
    display: flex;
    padding: 0.25rem 0;
    z-index: 10;
}

.categories-perso:hover {
    background-size: 300%; /* Effet d'animation au survol */
}

.contenu p{
	padding-top:1rem;
	padding-bottom:1.5rem;
}
.contenu-contact a:hover{
	text-decoration: underline;
}
.tvtexture {

    position: fixed; /* Utilisez fixed pour que l'image reste en place même lors du défilement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/tvvid.gif'); /* Image au premier plan */
    background-size: cover; /* Couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    opacity: 0; /* Ajustez l'opacité ici (0.0 - 1.0) */
    z-index: 50; /* Assurez-vous que l'image est au-dessus de tout le contenu */
    pointer-events: none; /* Permet d'interagir avec les éléments sous l'image */
}
.tvoui{
	opacity: 0.25;
	filter:blur(1.7px);
}
.draggable {
    position: relative; /* Ou absolute selon les besoins */
    z-index: 40; /* Valeur souhaitée */
}
.boutontv{
	position:fixed;
	bottom:45px;
	right:20px;
	border:solid 1px white;
	padding:2px;
}
.boutontv:hover{
	color:#bababa;
	border-color: #bababa;
}
.enorme{
	margin-left:30px;
	padding-bottom:5px;
	color:black;
	text-align:center;
}
.fondblanc-contenu-logiciels-gris{
	background-color: silver;
	position:absolute;
	border-top:0.18rem solid white;
	border-left:0.18rem solid white;
	border-right: 0.18rem solid black;
	border-bottom: 0.18rem solid black;
	top:0;
	width: 533px;
	height: 411px;
    margin-top: 2rem;
	margin-left: 0.5rem;
	display: flex;
	z-index: -5;
}
.listelogiciels{
	position: absolute;
	margin-left: 30px;
  	margin-top: -36px;
	padding: 0;
}
.listelogiciels li{
	display: flex; /* Utilise Flexbox pour aligner l'icône et le texte */
	align-items: center; /* Aligne verticalement l'image avec le texte */
	margin: 10px 0; /* Espace entre chaque élément */
	font-size: 1.2rem;
}
.ruban-bleu-logiciels h4{
	margin-left:9px;
}

.listejeuxps3{
	color:black;
}

.cv{
	border-top:0.15rem solid white;
	border-left:0.15rem solid white;
	border-right: 0.15rem solid black;
	border-bottom: 0.15rem solid black;
	padding:0.5rem;
	background-color:silver;
	font-size:1rem;

}

.cv:active {
 	border-top:0.15rem solid black;
	border-left:0.15rem solid black;
	border-right: 0.15rem solid white;
	border-bottom: 0.15rem solid white;
}

.cv:hover{
	cursor:pointer;
	color:darkblue;
}
@media (orientation: portrait) and (max-width: 844px) {
  .fontgris-profil {
      width: 341.1px;
  }
  .fenetre-profil, .fenetre-logiciels{
  	width:360px;
  }
  .fenetre-contact{
  	width: 360px;
  	height:280px;
  }
  .ruban-bleu, .ruban-bleu-contact, .ruban-bleu-logiciels{
  	width:352.8px;
  }
  .contenu-profil{
  	width: 291.2px;
  	height: 450px;
  	overflow-y: scroll;
  }
  .contenu-contact{
  	width: 291.2px;
  	height: 174px;
  	overflow-y: hidden;
  }

  .fontgris-graphisme, .fontgris-contact {
      width: 341.1px;
  }
  .fenetre-projets{
  	width: 364.1px;
  	height: 600px;
  }
  .fenetre-graphisme{
  	width:360px;
  	height: 600px;
  }
  .ruban-bleu{
  	width:352.8px;
  }
  .contenu-graphisme{
  	width: 291.2px;
  	height: 350px;
  	overflow-y: scroll;
  }
  .fondblanc2, .fondblanc2-perso{
  	width: 320px;
  }
  .fondblanc-contenu-cours-gris{
  	width: 320px;
  	height: 440px;
  }
  .fondblanc-contenu-logiciels-gris{
  	width: 337px;
  }
  .fondblanc-contenu-cours{
  	width: 273px;
  	font-size:5pt;
  	height: 390px;

  }
  .fondblanc-contenu-cours p{
  	font-size:8pt;
  }
  .fondblanc-contenu-cours-une{
  	font-size:5pt;
  }
  .titre-travail{
  	font-size:15pt;
  }
  .p{
  	font-size:10pt !important;
  }
  .contenu img{
  	width:150px;
  }
  .ps3img{
	width: 150px;
	height: auto;
	}

  .contenu video{
  	width:150px;
  }
  .contenu p{
  	font-size: 8pt;
  }
  .categories-perso li {
    margin-right: 0.2rem;
    padding: 0.5rem;
    font-size:9pt;
  }
  .fondblanc-contenu-perso-gris{
  	width: 320px;
  	height: 440px;
  	
  }
  .fondblanc-contenu-perso{
  	width: 273px;
  	font-size:5pt;
  	height: 390px;
  }
  .fondblanc-contenu-perso p{
  	font-size:8pt;
  }
  .fondblanc-contenu-perso-une{
  	font-size:5pt;
  }
  .titre-travail{
  	font-size:15pt;
  }
  .p{
  	font-size:10pt !important;
  }
  .contenu img{
  	width:150px;
  }
  .contenu video{
  	width:150px;
  }
  .contenu p{
  	font-size: 8pt;
  }
  .categories-perso li, .categories-cours li {
    margin-right: 0.2rem;
    padding: 0.5rem;
    font-size:9pt;
  }
  .info-profil, .info-projets , .info-graphisme , .info-contact{
  	margin-left:301px !important;
  }
  .croix-profil, .croix-projets, .croix-graphisme, .croix-contact{
  	margin-left:327px !important;
  }
  .info-logiciels{
  	margin-left:301px !important;
  }
  .croix-logiciels{
  	margin-left:327px !important;
  }

  .fenetre-paint{
  	width: 360px;
  	height: 670px;
  }
  .ruban-bleu-paint{
 	width:352.8px;
	
  }
  .fondblanc-contenu-paint-gris{
  	width: 340px;
  	height: 611px;
  }
  .barre{
  	width: 330px;	
  }
  .grisfondpaint{
  	width: 194px;	
  }
  #defaultCanvas0{
  	width: 245px !important;
  	margin-left: 0px;

  }
  #paintzone{
  	width: 245px !important;
  	margin-left: 77px;
  }
  .paintoutils{
  	width: 70px;
  }
  .paintcolor{
  	height: 301px;
    width: 69px;
    margin-left: -2px;
  margin-top: 279px;
  }
  .grisfondpaint{
  	margin-left: 67px;
  	width: 263px;
  }
  .barre li{
  	font-size:0.6rem;
  }
  .listepaint li {
  margin-right: 15px;
 
	}
	.fenetre-paint-fichier{
			width: 228px;
	    right: 108px;
	}
	.newfile{
			font-size:0.6rem;
			right:190px;
	}
	.save{
		font-size:0.6rem;
		right:250px;
	}
	.freeselection{
		width: 30px;
	    height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 29px;
	    right: 307px;
	  z-index: 1;	
	}
	.geometricselection{
		width: 30px;
	    height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 30px;
	    right: 277px;

	  z-index: 1;	
	}
	.gomme{
		width: 30px;
	    height: 30px;
	  background-color: silver;
	  position: absolute;
	  top: 60px;
	  right: 307px;
	  
	  z-index: 1;
	}
	.potpeinture{
		width: 30px;
	    height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 60px;
	  right: 277px;

	  z-index: 1;
	}
	.pipette{
		width: 30px;
	    height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 90px;
	  right: 307px;

	  z-index: 1;
	}
	.loupe{
		width: 30px;
	    height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 90px;
	  right: 277px;
	  
	  z-index: 1;
	}
	.crayon{width: 30px;
	    height: 30px;
	  background-color: silver;
	  position: absolute;
	  top: 120px;
	  right: 307px;
	  z-index: 1;}
	.pinceau{ width: 30px;
	    height: 30px;
	  background-color: silver;
	  position: absolute;
	  top: 120px;
	  right: 277px;
	  z-index: 1;}
	.spray{ width: 30px;
	    height: 30px;
	  background-color: silver;
	  position: absolute;
	  top: 150px;
	  right: 307px;

	  z-index: 1;}
	.painttexte{height: 30px; width: 30px;
	    
	  background-color: silver;
	  position: absolute;
	  top: 150px;
	  right: 277px;
	  z-index: 1;}
	.lignedroite{width: 30px; height: 30px;
	  background-color: silver;
	  position: absolute;
	  top: 180px;
	  right: 307px;

	  z-index: 1;}
	.lignelibre{width:30px;
	     height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 180px;
	  right: 277px;
	  
	  z-index: 1;}
	.formerectangle{
		height: 30px;
		width: 30px;
	  background-color: silver;
	  position: absolute;
	  top: 210px;
	  right: 307px;

	  z-index: 1;}
	.formepolygone{
		width: 30px;
	height: 30px;
	  background-color: #737373;
	  position: absolute;
	  top: 210px;
	  right: 277px;
	  z-index: 1;}
	.formeronde{
		width: 30px;
		height: 30px;
		background-color: silver;
		position: absolute;
		top: 240px;
		right: 307px;
		z-index: 1;
	}
	.formecercle{
		width: 30px;
		    height: 30px;
	  	background-color: silver;
	  	position: absolute;
	  	top: 240px;
	  	right: 277px;
	  	
	}

	.groscarre{
	  top: 287px;
	  right: 284px;
	}
	.currentfill{
		top: 291px;
	  right: 301px;
	}
	.currentborder{
		top: 302px;
	  right: 290px;
	}

	.outilicon{
		width:30px;
		height: 30px;
		margin-left: -1px;
	    margin-top: -1px;
	  }

	  .petitebar{
	  	width: 46px;
	  top: 341px;
	  right: 280px;
	  }
	  .noir{
	  	top: 353px;
	  right: 306px;
	  }
	  .gris{
	  	top: 353px;
	  right: 282px;
	  }

	.magenta{
		top: 377px;
	  right: 306px;
		
	}
	.jaunefonce{
		top: 401px;
	  right: 306px;
		
	}
	.vertpastel{
		top: 425px;
	  right: 306px;}
	.bleupastel{
		top: 449px;
	  right: 306px;
	}
	.bleufonce{
		top:473px;
	  right: 306px;

	}
	.rosepastel{
		top:497px;
	  right: 306px;

	}
	.jaunemoche{
		top:521px;
	  right: 306px;

	}
	.grisfonce{
		top:545px;
	  right: 306px;

	}
	//////
	
	/*deuxiemeligne*/
	.blanc{
		top:377px;
	  right: 282px;
		
	}
	.grisclair{
		top:401px;
	  right: 282px;
		
	}
	.orange{
		top: 377px;
	  right: 282px;
		
	}
	.rouge{
		top:425px;
	  right: 282px;

	}
	.jaune{
		top:449px;
	  right: 282px;
	}
	.vertclair{
		top:473px;
	  right: 282px;
	}
	.bleuclair{
		top:497px;
	  right: 282px;
	}
	.bleumarine{
		top:521px;
	  right: 282px;
	}

	.rose{
		top:545px;
	  right: 282px;
		
	}
	.info-paint{
	  	margin-left:301px !important;
	}
	.croix-paint{
	  	margin-left:327px !important;
	}


}
